@import url(bootstrap/css/bootstrap.css);
.container {
  border: 1px dotted black; }

html {
  min-height: 100%; }

body {
  margin-top: 96px;
  margin-bottom: 50px;
  background-color: #f0a830; }

.header {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #78C0A8; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #78C0A8; }

p.font-logo {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  letter-spacing: -0.07em; }

#header-logo {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  letter-spacing: -0.07em;
  cursor: default;
  -moz-selection: "background: transparent color: inherit";
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  #header-logo h1:before, #header-logo h2:before, #header-logo h3:before, #header-logo h4:before {
    content: "$";
    font-size: 88%; }

#header-bash {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
  letter-spacing: -0.07em;
  cursor: default;
  -moz-selection: "background: transparent color: inherit";
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-bottom: 5px; }
  #header-bash ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
  #header-bash li, #header-bash li > div, #header-bash li > a, #header-bash li > span {
    display: inline-block; }
  #header-bash a {
    cursor: pointer !important;
    text-decoration: none !important; }
  #header-bash .exec:before {
    content: "$pollbus-";
    padding: 0em 0em 0em 0em; }
  #header-bash .exec:after {
    content: ": ";
    padding: 0em 0em; }
  #header-bash .module:after {
    content: " | "; }
  #header-bash .value:before {
    content: "{";
    padding-right: 0.2em; }
  #header-bash .value:after {
    content: "}";
    padding-left: 0.2em; }

.logo1 {
  display: block;
  font: 210px Helvetica, Sans-Serif;
  font-weight: 600;
  color: rgba(0, 0, 255, 0.51);
  letter-spacing: -22px;
  text-shadow: -8px -6px rgba(0, 0, 255, 0.1), 8px 6px rgba(255, 0, 0, 0.3); }

.logo {
  cursor: default;
  -moz-selection: "background: transparent color: inherit";
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  font: 210px Helvetica, Sans-Serif;
  font-weight: 600;
  color: #5e412f;
  letter-spacing: -22px;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.08), -2px -2px 2px rgba(255, 255, 255, 0.05), 1px 1px 2px rgba(0, 0, 0, 0.1), 2px 2px 3px rgba(128, 128, 128, 0.05), 8px 6px 6px rgba(0, 0, 0, 0.2); }

#bg-logo-relief-negative h1 {
  cursor: default;
  -moz-selection: "background: transparent color: inherit";
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  font: 210px Helvetica, Sans-Serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: -0.07em;
  padding-top: 100%;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.08), -2px -2px 2px rgba(0, 0, 0, 0.05), 1px 1px 2px rgba(255, 255, 255, 0.1), 2px 2px 3px rgba(255, 255, 255, 0.005), 8px 6px 6px rgba(255, 255, 255, 0.01); }
  #bg-logo-relief-negative h1:before {
    content: "$";
    font-size: 88%; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

#main-content {
  min-height: 300px;
  padding: 0px 0px; }

#login-form {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  float: right; }
  #login-form .login-form-element {
    max-width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0em; }
  #login-form .login-label {
    color: rgba(255, 255, 255, 0.88); }
    #login-form .login-label:after {
      content: ":";
      color: rgba(255, 255, 255, 0.55); }
  #login-form .login-field {
    padding-left: 5px;
    padding-right: 5px; }
  #login-form .login-button {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    letter-spacing: -0.07em;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.88);
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 0px 0px 0px 0px; }

.animation {
  height: 600px;
  width: 100%;
  color: #5E412F; }

#chat-bar {
  height: 50px;
  position: relative; }
  #chat-bar text.hover {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    letter-spacing: -0.07em;
    color: #f0a830; }
  #chat-bar text.inactive {
    @extend: text.test;
    color: rgba(94, 65, 47, 0.5); }
  #chat-bar .chat-window {
    text-align: left;
    float: right;
    margin: 0px; }
  #chat-bar div.panel {
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #78C0A8;
    line: 1px dotted black;
    padding-top: 10px; }
  #chat-bar .top-bar {
    background: #666;
    color: white;
    padding: 5px;
    position: relative;
    overflow: hidden; }

/*# sourceMappingURL=style.css.map */
