@import "bootstrap/css/bootstrap.css"

// #DEVELOP, #TEST
.container
	border: 1px dotted black

//============================================
//= GLOBAL LAYOUT
// COLORS http://www.colourlovers.com/palette/919313/Papua_New_Guinea
$history: #5E412F
$black-tea: #FCEBB6
$tweakedturqouise: #78C0A8
$full-orange: #F07818
$joystiq-gold: #F0A830

// memorizable names ...
$color-brown-dark: $history
$color-sand: $black-tea
$color-turquoise: $tweakedturqouise
$color-orange: $full-orange
$color-gold: $joystiq-gold

$color-grey-light: #f5f5f5

$header-heigth: 96px
$footer-height: 50px
//===============================================

html
	//position: relative
	min-height: 100%
body
	// Margin bottom by footer height
	margin-top: $header-heigth
	margin-bottom: $footer-height
	background-color: rgba($color-gold,1)

.header
	position: absolute
	top: 0
	width: 100%
	//height: $header-heigth
	background-color: $color-turquoise
	//&:after
	//	overflow: auto

.footer
	position: absolute
	bottom: 0
	width: 100%
	/* Set the fixed height of the footer here */
	height: $footer-height
	background-color: $color-turquoise


=logo-font-style
	color: rgba(255, 255, 255, 0.7)
	font-weight: 600
	letter-spacing: -0.07em

p.font-logo
	+logo-font-style

=deselect
	// a bit messy to put cursor here ..
	cursor: default 
	-moz-selection:	"background: transparent color: inherit"
	-ms-user-select: none
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none

=dollarify
	&:before
		content: "$"
		font-size: 88%


#header-logo
	+logo-font-style
	+deselect
	h1,h2,h3,h4
		+dollarify
// ===================

#header-bash
	+logo-font-style
	+deselect
	padding-bottom: 5px
	
	ul
		list-style-type: none
		margin: 0px
		padding: 0px	
	
	=inlinify
		display: inline-block

	li, li > div, li > a, li > span
		+inlinify
		// all parts of the current active tab display
	
	a
		cursor: pointer !important
		text-decoration: none !important
	
	.exec
		&:before
			content: "$pollbus-"
			padding: 0em 0em 0em 0em
		&:after
			content: ": "
			padding: 0em 0em

	.module
		&:after
			content: " | "
	
	.value
		&:before
			content: "{"
			padding-right: 0.2em
		&:after
			content: "}"
			padding-left: 0.2em

			
.logo1
	display: block
	font: 210px Helvetica, Sans-Serif
	font-weight: 600
	color: rgba(0,0,255,0.51)
	// text-shadow: 0px 2px 3px #555
	letter-spacing: -22px
	text-shadow: -8px -6px rgba(0,0,255,0.1), 8px 6px rgba(255,0,0,0.3)

.logo
	+deselect 
	// relief positive
	display: block
	font: 210px Helvetica, Sans-Serif
	font-weight: 600
	color: rgba($color-brown-dark,1)
	letter-spacing: -22px
	text-shadow: -1px -1px 1px rgba(white,0.08), -2px -2px 2px rgba(white,0.05),1px 1px 2px rgba(black,0.1),2px 2px 3px rgba(grey,0.05),8px 6px 6px rgba(black,0.2)

#bg-logo-relief-negative
	h1
		// relief negative
		+dollarify
		+deselect
		display: block
		font: 210px Helvetica, Sans-Serif
		font-weight: 600
		color: rgba(black,0.3)
		letter-spacing: -0.07em
		padding-top: 100%
		text-shadow: -1px -1px 1px rgba(black,0.08), -2px -2px 2px rgba(black,0.05),1px 1px 2px rgba(white,0.1),2px 2px 3px rgba(white,0.005),8px 6px 6px rgba(white,0.01)

.message
	border: 1px solid #ccc
	//padding: 10px
	color: #333
.success
	@extend .message
	border-color: green
.error
	@extend .message
	border-color: red
.warning
	@extend .message
	border-color: yellow

#main-content
	min-height: 300px
	padding: 0px 0px

// **************************************
// LOGIN_FORM
// **************************************
#login-form
	text-align: right
	// matching h1 margin
	margin-top: 20px
	margin-bottom: 10px
	position: relative
	float: right
	
	.login-form-element
		max-width: 100%
		padding-left: 0.5em
		padding-right: 0.5em
		margin-left: 0.5em
		margin-right: 0.0em
		// background-color: rgba($color-brown-dark, 0.7)
		// color: $color-orange

	.login-label
		color: rgba(255,255,255,0.88)
		// text-shadow: 2px 2px 5px #ccc
		&:after
			content: ":"
			color: rgba(255,255,255,0.55)

	.login-field
		padding-left: 5px
		padding-right: 5px

	.login-button
		+logo-font-style
		font-size: 0.8em
		color: rgba(255,255,255,0.88)
		text-align: left

		padding-left: 6px
		padding-right: 6px
		padding-top: 4px
		padding-bottom: 2px
		
		// topleft topright botright botleft
		border-radius: 0px 0px 0px 0px
		//margin-left: 0.5em
		//padding-top: 4px
		//margin-top: -1px


// EVERYTHING ELSE
.animation
	height: 600px
	width: 100%
	color: $color-brown-dark



$chat-bar-heigth: 50px
#chat-bar
	height: $chat-bar-heigth
	position: relative
	// #fugly: currently I am using those ids as namespaces ...

	text.hover 
		+logo-font-style
		color: rgba($color-gold, 1)

	text.inactive
		@extend: text.test
		color: rgba($color-brown-dark, 0.5)

	.chat-window
		text-align: left
		// bottom: 0
		// position: fixed
		float: right
		margin: 0px

	div.panel
		margin-bottom: 0px
		border-radius: 5px 5px 0px 0px
		background-color: $color-turquoise
		line: 1px dotted black
		padding-top: 10px

	.top-bar
		background: #666
		color: white
		padding: 5px
		position: relative
		overflow: hidden